<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">Gatitobook</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"></i>
        <span>{{ user.name }}</span>
        <a class="ml-2" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text link">
      <a #login [routerLink]="['/']" routerLinkActive="router-link-active"
        >Login</a
      >
    </span>
  </ng-template>
</header>
