<section>
  <h4 class="text-center mt-3">Registre-se e mostre seu pet ao mundo</h4>
  <form
    method="post"
    class="form mt-4"
    [formGroup]="newUserForm"
    (ngSubmit)="createUser()"
  >
    <fieldset class="fieldset">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="example@mail.com"
        />
        <app-message
          class="validation-message"
          message="Email obrigatório"
          *ngIf="newUserForm.get(['email'])?.errors?.['required'] && newUserForm.get('email')?.touched"
        ></app-message>
        <app-message
          class="validation-message"
          *ngIf="newUserForm.get('email')?.errors?.['email']
          &&
          newUserForm.get('email')?.touched
          "
          message="Email no formato incorreto"
        ></app-message>
      </div>
      <div class="form-group">
        <label for="fullName">Nome completo</label>
        <input
          type="text"
          name="fullName"
          id="fullName"
          class="form-control"
          formControlName="fullName"
        />
        <app-message
          class="validation-message"
          *ngIf="
            newUserForm.get('fullName')?.errors &&
            newUserForm.get('fullName')?.touched
          "
          message="Nome incorreto"
        ></app-message>
      </div>
      <div class="form-group">
        <label for="userName">Usuário</label>
        <input
          type="text"
          name="userName"
          id="userName"
          class="form-control"
          formControlName="userName"
        />
        <app-message
          class="validation-message"
          *ngIf="newUserForm.get('userName')?.errors?.['lowercase'] && newUserForm.get('userName')?.touched"
          message="usuário deve conter apenas letras minúsculas"
        ></app-message>
        <app-message
          message="Usuário já existe"
          *ngIf="newUserForm.get('userName')?.errors?.['userExists']"
        ></app-message>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <app-message
          class="validation-message"
          message="Senha deve ser diferente do nome de usuário"
          *ngIf="newUserForm.errors?.['passwordEqualUser']"
        ></app-message>
        <app-message
          class="validation-message"
          message="Obrigatório digitar uma senha"
          *ngIf="newUserForm.get('password')?.touched && newUserForm.get('password')?.errors?.['required']"
        ></app-message>
        <app-message
          class="validation-message"
          message="A senha precisa ter pelo menos 12 dígitos"
          *ngIf="newUserForm.get('password')?.errors?.['minlength']"
        ></app-message>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block mt-2"
        [disabled]="!newUserForm.valid"
      >
        Cadastrar
      </button>
    </fieldset>
  </form>

  <p>
    Já é um usuário?
    <a [routerLink]="['']" routerLinkActive="router-link-active"
      >Entre na sua conta</a
    >
  </p>
</section>
